<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_1612797_SalesManagementApplication.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <_1612797_SalesManagementApplication.Properties.Settings>
            <setting name="connString" serializeAs="String">
                <value>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="C:\Users\Admin\Documents\Visual Studio 2013\Projects\Quản lý bán hàng\1612797_SalesManagementApplication\1612797_SalesManagementApplication\Data\DB_SalesManagementApplication.mdf";Integrated Security=True</value>
            </setting>
        </_1612797_SalesManagementApplication.Properties.Settings>
    </userSettings>
</configuration>